/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Museo Sans", Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #114B5F;
}

main {
  width: 50%;
  margin: 40px auto;
  padding: 40px;
  background-color: #456990; 
}

h1 {
  margin-bottom: 20px;
}

/*Input fields CSS*/

p {
  display: inline-block;
  color: #E4FDE1;
  height: 3em;
  vertical-align: middle;
  margin: auto 0;
}

input, textarea {
  background-color: #E4FDE1;
  color: #028090;
  border: none;
  width: 98%;
  height: 3em;
}

input[type="text"] {
  padding-left: 1em;
  margin-bottom: 1.5em;
}

input[type="submit"] {
  color: #E4FDE1;
  background-color: #F45B69;
  margin-top: 3em;
  margin-bottom: -1em;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  /*float: right;*/
  /*clear: both;*/
}

::-webkit-input-placeholder {
   color: #028090;
}

:-moz-placeholder {
   color: #028090;  
}

::-moz-placeholder {
   color: #028090;  
}

:-ms-input-placeholder {  
   color: #028090;  
}

.num_field {
  height: 3em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

/*.num_titles {
  width: 90%;
}

.num_values {
  width: 10%;
  align-content: right;
}*/