<!DOCTYPE html>
<html>
  <head>
    <title>TrimApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="//fast.fonts.net/jsapi/ecbe2b66-15a3-48d6-98b3-ed3bc4cbaafa.js"></script> -->
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
